<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>
<div class="container">
    <div th:text="${'Cat is filled with: ' + livingBeeingDTO.getStomachCurrentVolume() + ' amount of water'}"></div>
    <div th:text="${'Cat stomach capacity is: ' + livingBeeingDTO.getStomachMaximumVolume()}"></div>
    <div th:if="${lastContainer==null && error==null}" th:text="${'Cat will drink for the first time'}"></div>
    <div th:if="error!=null">
        <p th:if="${error?.equals('containerProblem')}" class="error alert alert-danger" th:text="${'Water container cannot be empty.'}">Error diplayer</p>
        <p th:if="${error?.equals('wrongContainer')}" class="error alert alert-danger" th:text="${'Cat cannot drink from bottle.'}">Error diplayer</p>
    </div>
    <div th:if="${lastContainer!=null}" th:text="${'In last container '+ lastContainer.getCurrentVolume() +' water left.'}"></div>
    <br>
    <form method="post" th:action="@{/drink}" th:object="${container}">
        <div class="col-2">
            <select class="form-select" th:field="*{containerType}">
                <option value="bowl">Bowl</option>
                <option value="bottle">Bottle</option>
            </select>
        </div>
        <div class="col-2">
            <div class="input-group input-group-sm mb-3">
                <span class="input-group-text" id="inputGroup-sizing-sm">Container capacity</span>
                <input type="text" required="required" class="form-control" th:field="*{capacity}" pattern="^\d+\.\d+$|^\d+$" placeholder="exp: 2.5">
            </div>
        </div>
        <div th:object="${livingBeeingDTO}">
            <input type="hidden" th:value="*{stomachCurrentVolume}" name="stomachCurrentVolume"/>
            <input type="hidden" th:value="*{stomachMaximumVolume}" name="stomachMaximumVolume"/>
            <input type="hidden" th:value="*{livingBeeingType}" name="livingBeeingType"/>
        </div>
        <button type="submit" class="btn btn-primary">Drink!</button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>
